---
name: Build Test
"on": [push]

jobs:
  build-test:
    name: Build with Java 8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: "8"
          distribution: "adopt"
          cache: "maven"
      - name: Check CrackShot existence
        id: check_crackshot
        uses: andstor/file-existence-action@v1
        with:
          files: "~/.m2/repository/com/shampaggon/CrackShot/0.98.11/"
      - name: Download CrackShot v0.98.11
        if: steps.check_crackshot.outputs.files_exists == 'false'
        run: curl -L -o CrackShot.jar https://dev.bukkit.org/projects/crackshot/files/3151915/download
      - name: Install CrackShot into local mvn repo
        if: steps.check_crackshot.outputs.files_exists == 'false'
        run: mvn install:install-file -Dfile=./CrackShot.jar -DgroupId=com.shampaggon -DartifactId=CrackShot -Dversion=0.98.11 -Dpackaging=jar -DgeneratePom=true
      - run: java -version
      - run: mvn --version
      - run: mvn -B package
